.parent-of-head {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 60px;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 70vh;
}

.parent-of-card {
    width: 17%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 50px;
    background-color: #1b1b1b;
    padding: 80px;
    border-radius: 10%;
    box-shadow: 0 0 25px #1b1b1b;
    height: 400px;
    transition: 0.3s ease-in-out;
}

.parent-of-card:hover {
    box-shadow: 0 0 30px #1b1b1b;
    transform: scale(1.05);
}

.moh-txt {
    color: white;
    font-size: 24px;
    font-weight: bolder;
    text-shadow: 0 0 5px white;
    text-align: center;
    margin: 5px;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.parent-of-a {
    width: 80%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
    gap: 10px;
}

.parent-of-a > a {
    color: white;
    font-size: 23px;
    text-decoration: none;
    filter: drop-shadow(0 0 3px white);
    transition: 0.2s ease-in-out;
}

.parent-of-a > a:hover {
    color: #2b2b2b;
    filter: drop-shadow(0 0 3px #1f1f1f);
    font-size: 28px;
}

.moh_img {
    object-fit: cover;
    -o-object-fit: cover;
    border-radius: 40%;
    -ms-border-radius: 40%;
    -moz-border-raidus: 40%;
    -webkit-border-radius: 40%;
    width: 70%;
    transition: 0.3s ease-in-out;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.moh_img:hover {
    border-radius: 30%;
}

.design-page-txt {
    color: white;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    text-shadow: 0 0 5px white;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

@media (min-width: 150px) and (max-width: 420px) {

    .parent-of-card {
        width: 35%;
    }

    .moh_img {
        width: 110%;
    }

    .parent-of-a {
        gap: 20px;
    }

}

@media (min-width : 420px) and (max-width: 740px) {

    .parent-of-card {
        width: 38%;
        height: 100vh;
    }

    .moh_img {
        width: 50%;
    }
}